# Application Settings
PORT=8080
JWT_SECRET=replace_me_with_a_long_random_string_in_production
ADMIN_USER=admin
ADMIN_PASSWORD=admin
TRUST_PROXY=false

# Database
DATABASE_URL=dgsmgt.db

# Docker
DOCKER_HOST=unix:///var/run/docker.sock
